body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    cursor:pointer;
}

#news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}

.article {
    background-color: #fff;
    margin: 1em;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    box-sizing: border-box;
}

.article img {
    max-width: 100%;
    border-radius: 8px 8px 0 0;
}

.article h2 {
    font-size: 1.2em;
    margin: 0.5em 0;
}

.article p {
    font-size: 1em;
    color: #333;
}



.clicked {
    background-color: rgb(198, 243, 168); /* Change background color */
    color: rgb(33, 15, 15); /* Change text color */
    border: 2px solid rgb(254, 107, 223); /* Add border */
}
